---
import "../styles/main.css";
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg">

    <Fragment slot="head">
        <slot name="head"/>
    </Fragment>

    <title>Shutdown Roulette!! :3</title>
</head>

<slot/>

<body>

</body>
</html>