---
import BaseLayout from "../layouts/base.astro"
---

<BaseLayout>
    <Fragment slot="head">
        <title>Shutdown Roulette :3</title>
        <script type="module" src="/scripts/roulette.ts"></script>
    </Fragment>

    <h3><a href="/leaderboard">See Leaderboard</a></h3>

    <div id="rounds">
        <h1>You Survived 0 Rounds! :3333</h1>
    </div>

    <p>PULL THE TRIGGER! >:3 <strong>(Space)</strong></p>
</BaseLayout>