---
import BaseLayout from "../layouts/Base.astro"
---

<BaseLayout>
    <Fragment slot="head">
        <title>Shutdown Roulette :3</title>
        <script type="module" src="/scripts/roulette.ts"></script>
    </Fragment>

    <div class="scorekeeper">
        <h2>High Score: 0</h2>
        <h3><a href="/top">See highscores</a></h3>
    </div>

    <div id="rounds">
        <h1>You Survived 0 Rounds! :3333</h1>
    </div>

    <img class="llama", src="/img/shutdownllama.png">

    <p>PULL THE TRIGGER! >:3 <strong>(Space)</strong></p>
</BaseLayout>