---
import BaseLayout from "../layouts/Base.astro"
import Leaderboard from "../components/Leaderboard.astro"
---

<BaseLayout>
    <Fragment slot="head">
        <title>Shutdown Roulette Top Scores!!</title>
    </Fragment>

    <h3><a href="/">Return</a></h3>

    <Leaderboard/>

    <div>
        <p>Leaderboard file saved somewhere...</p>
    </div>
</BaseLayout>