:root {
    --color-background: rgba(70, 0, 0, 0.83);
    --color-text: #eee;
    --color-accent: #b7b7b7;
    --color-button: #333;
    --color-button-hover: #555;
}

body {
    height: 100vh;
    font-family: monospace;

    color: var(--color-text);
    background-color: var(--color-background);
    text-shadow: .3em .3em .42rem black;

    /*Center contents*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

body a {
    color: var(--color-accent);
    text-decoration: none;
}

.llama {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;

    width: auto;
    height: 83%;
}


.scorekeeper {
    text-align: center;
}

.leaderboard {

}

.leaderboard ol {

}
